<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcl.labmanage.dao.DeviceMapper">

    <select id="getCountOfDevice" resultType="java.lang.Integer">
        select count(1) from device
    </select>

    <select id="getAllDeviceByPage" resultType="com.lcl.labmanage.entity.Device">
        SELECT
        *
        from device
        limit #{page},#{size}
    </select>

    <select id="getDeviceById" parameterType="java.lang.Integer"
            resultType="com.lcl.labmanage.entity.Device">
        SELECT
        *
        from device
        where id = #{id}
    </select>

    <insert id="addDevice" parameterType="com.lcl.labmanage.entity.Device">
INSERT INTO `lab_manage`.`device`(`equipment_name`, `lab_name`, `total_count`, `broken_count`, `usable_count`, `updatetime`)
 VALUES ( #{equipment_name}, #{lab_name}, #{total_count}, #{broken_count}, #{usable_count}, #{updatetime});
    </insert>

    <update id="updateDevice" parameterType="com.lcl.labmanage.entity.Device">
        UPDATE `lab_manage`.`device`
         SET
         `equipment_name` = #{equipment_name},
         `lab_name` = #{lab_name},
         `total_count` = #{total_count},
         `broken_count` = #{broken_count},
         `usable_count` = #{usable_count},
         `updatetime` = #{updatetime}
         WHERE `id` = #{id};
    </update>

    <select id="getDeviceByLabNameAndEquipName" resultType="com.lcl.labmanage.entity.Device">
        select * from `lab_manage`.`device` where equipment_name = #{equipName} and lab_name = #{labName}
    </select>
    <select id="getCountOfDeviceByLab" resultType="java.lang.Integer" parameterType="java.lang.String">
                select count(1) from device where lab_name = #{name}
    </select>
    <select id="getAllDeviceByPageAndLab" resultType="com.lcl.labmanage.entity.Device">
        SELECT
        *
        from device
        where lab_name = #{name}
        limit #{page},#{size}
    </select>

</mapper>