<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcl.labmanage.dao.NoticeMapper">
    <select id="getCountOfNotices" resultType="java.lang.Integer">
        select count(1) from notices
    </select>

    <select id="getAllNoticesByPage" resultType="com.lcl.labmanage.entity.Notice">
        SELECT
        id,
        title,
        updatetime,
        publisher
        from notices
        limit #{page},#{size}
    </select>

    <select id="getNoticesById" parameterType="java.lang.Integer"
            resultType="com.lcl.labmanage.entity.Notice">
        SELECT
        *
        from notices
        where id = #{id}
    </select>

    <insert id="addNotice" parameterType="com.lcl.labmanage.entity.Notice">
        insert into
        notices(title,noticeinfos,updatetime,publisher)
        values (#{title},#{noticeinfos},#{updatetime},#{publisher})
    </insert>

    <delete id="deleteNotice" parameterType="java.lang.Integer">
        delete from notices where id = #{id}
    </delete>

</mapper>