<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcl.labmanage.dao.OccupyInfoMapper">

    <select id="getLabOccupyRecordByName" parameterType="java.lang.String"
            resultType="com.lcl.labmanage.entity.LabOccupyRecord">
        SELECT
        *
        from lab_occupy_log
        where lab = #{labName}
    </select>

    <select id="getCountOfOccupyInfosByName" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT
        count(*)
        from lab_occupy_log
        where lab = #{labName}
    </select>

    <select id="getCountOfOccupyInfosByTime" resultType="java.lang.Integer">
        SELECT
        count(*)
        from lab_occupy_log
        where lab = #{labName} and term = #{term} and (end_week > #{time} and specific_time = #{specific_time}) and state != '不准许'
    </select>

    <select id="getOccupyInfosById" resultType="com.lcl.labmanage.entity.LabOccupyRecord"
        parameterType="java.lang.Integer">

        SELECT
        *
        from lab_occupy_log
        where id = #{id}
    </select>
    <select id="getLabOccupyRecordByPage" resultType="com.lcl.labmanage.entity.LabOccupyRecord">
        SELECT
        *
        from lab_occupy_log
        limit #{page},#{size}
    </select>
    <select id="getCountOfOccupyRecord" resultType="java.lang.Integer">
        SELECT
        count(*)
        from lab_occupy_log
    </select>

    <insert id="insertNewOccupyRecord" parameterType="com.lcl.labmanage.entity.LabOccupyRecord">
    INSERT INTO `lab_manage`.`lab_occupy_log`
    (`lab`,`reason`, `class_name`, `user`, `user_contact`, `term`, `start_week`, `end_week`, `specific_time`, `state`, `note`)
    VALUES
    (#{lab},#{reason},#{class_name}, #{user}, #{user_contact},#{term}
    ,#{start_week}, #{end_week},#{specific_time},#{state}, #{note});
    </insert>

    <update id="updateStateById">
        update lab_occupy_log set state = #{result} where id = #{id}
    </update>

    <delete id="deleteRecordByLabName">
        delete from lab_occupy_log where lab = #{lab};
    </delete>

</mapper>