<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcl.labmanage.dao.UserMapper">

    <insert id="insertUser" parameterType="com.lcl.labmanage.entity.User">
        insert into user(username,password,role) values (#{userName},#{password},#{role})
    </insert>

    <select id="selectUserByName" parameterType="java.lang.String"
        resultType="com.lcl.labmanage.entity.User">
        select * from user where username = #{name}
    </select>

    <select id="selectUserByNameAndPassword" resultType="com.lcl.labmanage.entity.User">
        select * from user where username = #{name} and password = #{password}
    </select>

    <select id="selectAllUser" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM user u
        LEFT JOIN role r
        ON u.role = r.id
    </select>

    <select id="selectAllUserByPage" resultType="com.lcl.labmanage.entity.User">
        SELECT
        u.id,
        u.username,
        r.role_name
        FROM user u
        LEFT JOIN role r
        ON u.role = r.id
        limit #{page},#{size}
    </select>

    <update id="updateUserRole">
        update lab_manage.user set role = #{role} where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>
</mapper>