<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>NEAU实验室管理</title>
    <link rel="stylesheet" href = "/lib/layui/css/layui.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.include.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            NEAU实验室
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/start/index/user">公告页面</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="userName">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="/start/login">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">实验室管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/start/lab/user/info">实验室信息</a></dd>
                        <dd><a href="/start/lab/user/equip">实验室设备管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/start/exper/occupy/user">实验室占用管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/start/exper/log/user">实验日志</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="site-text" style="margin: 5%; display: none" id="window"  target="test123">
        <div class="layui-card">
            <div class="layui-form-item">
                <label class="layui-form-label">用途</label>
                <div class="layui-input-block">
                    <select name="range" id="range" lay-filter="range">
                        <option value="上课">上课</option>
                        <option value="实验">实验</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
            <br><br>
            <label class="layui-form-label">具体用途</label>
            <div class="layui-input-block">
                <input id="reason" type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
            <br><br>
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input id="contact_method" type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
            <br><br>
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input id="note" type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
            <br><br>
            <div class="layui-inline">
                <label class="layui-form-label">起始时间</label>
                <div class="layui-input-inline">
                    <input type="text" style="width:200px;" class="layui-input" id="start_time" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <br>
            <br>

            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" style="width:200px;" class="layui-input" id="end_time" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
        </div>
    </div>


    <div class="layui-body">
        <blockquote class="layui-elem-quote layui-text">
            <h1 id="title-block"></h1>
        </blockquote>
        <div style="padding: 15px;">
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>
        <img src="/js/timg.jpg" style="position:absolute;right:0;bottom:0; width: 200px;height: 200px"/>

    </div>
    <script src="/lib/layui/layui.js"></script>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            //日期时间选择器
            laydate.render({
                elem: '#start_time'
                ,type: 'datetime'
            });

            laydate.render({
                elem: '#end_time'
                ,type: 'datetime'
            });
        });
    </script>
    <script>
        var name = localStorage.getItem("labName")
        $('#title-block').text('实验室占用情况')
        layui.use('table', function(){
            // var name = localStorage.getItem("labName")
            localStorage.removeItem("labName")
            var table = layui.table;
            table.render({
                elem: '#test'
                , url: '/occupy/infos/total'
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                ,title: '用户数据表'
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        ,{field:'lab', title: '实验室',width:150}
                        ,{field:'reason', title: '课程', width:140}
                        ,{field:'class_name', title: '班级', width:100}
                        ,{field:'user', title: '申请人', width:80}
                        ,{field:'user_contact', title: '申请人联系方式',width:150}
                        ,{field:'term', title: '学期', width:200}
                        ,{field:'start_week', title: '起始周',width:90}
                        ,{field:'end_week', title: '结束周', width:90}
                        ,{field:'specific_time', title: '具体时间',width:150}
                        ,{field:'state', title: '结果', width:80}
                    ]
                ],
                page:true
            });


            table.on('toolbar(test)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;

                };
            });

            //监听行工具事件
            table.on('tool(test)', function(obj){
                var data = obj.data;
                //console.log(obj)
                if(obj.event === 'reject'){
                    layer.confirm('确认拒绝？', function(index){
                        var state1 = '不准许';
                        $.ajax({
                            type:"POST",
                            url:"/occupy/confirm",
                            data: {
                                id: data.id,
                                result: state1
                            },
                            dataType:"json",
                            success: function (msg) {
                                if (msg.code == 0) {
                                    location.reload();
                                } else {
                                    layer.msg(msg.msg)
                                }
                            }
                        });
                        data.state = '不准许'
                        layer.close(index);

                    });
                }
                if(obj.event === 'agree'){
                    layer.confirm('确认准许？', function(index){
                        var state2 = '准许';
                        $.ajax({
                            type:"POST",
                            url:"/occupy/confirm",
                            data: {
                                id: data.id,
                                result: state2
                            },
                            dataType:"json",
                            success: function (msg) {
                                if (msg.code == 0) {
                                    location.reload();
                                } else {
                                    layer.msg(msg.msg)
                                }
                            }
                        });
                        data.state = '不准许'
                        layer.close(index);
                    });

                }
            });
        });

        //JavaScript代码区域

        function load_data(){
            var theme=localStorage.getItem("userName");
            if(theme!=null||theme!=""){
                $("#userName").html(theme);
            }
        }



        layui.use('element', function(){
            var element = layui.element;

        });
    </script>
    <div class="layui-footer">
        微机1603_刘常林 - NEAU实验室管理系统
    </div>
</div>

<script>
    function load_data(){
        var theme=localStorage.getItem("userName");
        if(theme!=null||theme!=""){
            // $("#userName").show();
            $("#userName").html(theme);
        }
    }
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script type="text/javascript">
    var theme=localStorage.getItem("userName");
    if(theme!=null||theme!=""){
        $("#userName").html(theme);
    }
</script>

</body>
</html>
