<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>NEAU实验室管理</title>
    <link rel="stylesheet" href = "/lib/layui/css/layui.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.include.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            NEAU实验室
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/start/index/admin">公告页面</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="userName">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="/start/login">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">实验室管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/start/lab/info">实验室信息</a></dd>
                        <dd><a href="/start/lab/equip">实验室设备管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">实验管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/start/exper/log">实验日志</a></dd>
                        <dd><a href="/start/exper/report">实验报告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">日志管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/start/log/preview">查看日志</a></dd>
                        <dd><a href="/start/require/manage">需求管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/start/user/manage">用户管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div style="padding: 15px;">
            <label class="layui-form-label">实验室</label>
            <div class="layui-input-block">
                <input id="lab_name" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入实验室" class="layui-input">
            </div>
            <br>
            <br>

            <label class="layui-form-label">管理员</label>
            <div class="layui-input-block">
                <input id="lab_admin" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入管理员" class="layui-input">
            </div>
            <br>
            <br>

            <label class="layui-form-label">管理员联系方式</label>
            <div class="layui-input-block">
                <input id="admin_contact" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入管理员联系方式" class="layui-input">
            </div>
            <br>
            <br>

            <label class="layui-form-label">实验室地点</label>
            <div class="layui-input-block">
                <input id="location" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入实验室地点" class="layui-input">
            </div>
            <br>

            <div class="layui-form-item">
                <button class="layui-btn" onclick=commitLab()>提交</button>
                <button class="layui-btn"><a href="/start/lab/info">返回</a></button>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        微机1603_刘常林 - NEAU实验室管理系统
    </div>
</div>
<script src="/lib/layui/layui.js"></script>
<script>
    function load_data(){
        var theme=localStorage.getItem("userName");
        if(theme!=null||theme!=""){
            // $("#userName").show();
            $("#userName").html(theme);
        }
    }
    function isNotNullField() {
        var lab = $('#lab_name').val();
        var labAdmin = $('#lab_admin').val();
        var adminContact = $('#admin_contact').val();
        var location = $('#location').val();
        if (lab == null || lab == "") {
            alert("请输入实验室");
            return false;
        }
        if (labAdmin == null || labAdmin == "") {
            alert("请输入管理员");
            return false;
        }
        if (adminContact == null || adminContact == "") {
            alert("请输入管理员联系方式");
            return false;
        }
        if (location == null || location == "") {
            alert("请输入地点");
            return false;
        }
        return true;
    }
    function commitLab() {
        var lab = $('#lab_name').val();
        var labAdmin = $('#lab_admin').val();
        var adminContact = $('#admin_contact').val();
        var location = $('#location').val();
        if (isNotNullField()) {
            $.ajax({
                type:"POST",
                url:"/lab/add",
                data: {
                    labName: lab,
                    administrator: labAdmin,
                    admin_contact: adminContact,
                    location: location
                },
                dataType:"json",
                success: function (msg) {
                    if (msg.code == 0) {
                        window.location.href = "/start/lab/info";
                    } else {
                        alert("提交失败");
                    }
                }
            });

        }
    }
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script type="text/javascript">
    var theme=localStorage.getItem("userName");
    if(theme!=null||theme!=""){
        $("#userName").html(theme);
    }
</script>

</body>
</html>
