<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>NEAU实验室管理</title>
    <link rel="stylesheet" href = "/lib/layui/css/layui.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.include.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            NEAU实验室
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/start/index/admin">公告页面</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="userName">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="/start/login">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">实验室管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/start/lab/info">实验室信息</a></dd>
                        <dd><a href="/start/lab/equip">实验室设备管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/start/exper/occupy">实验室占用管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/start/exper/log">实验日志</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/start/require/manage">设备报备管理</a>
                </li>
                <li class="layui-nav-item"><a href="/start/user/manage">用户管理</a></li>
            </ul>
        </div>
    </div>
    <div class="site-text" style="margin: 5%; display: none" id="window"  target="test123">
        <label class="layui-form-label">报备类别</label>
        <div class="layui-input-block">
            <select id="report_cat" name="interest" lay-filter="aihao">
                <option value="报修" selected="">报修</option>
                <option value="添置">添置</option>
                <option value="其他">其他</option>
            </select>
        </div>
            <br><br>
            <label class="layui-form-label">数量</label>
            <div class="layui-input-block">
                <input id="report_amount" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入数量" class="layui-input">
            </div>
            <br><br>
        <label class="layui-form-label">报备人</label>
        <div class="layui-input-block">
            <input id="report_repoter" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入报备人" class="layui-input">
        </div>
        <br><br>
        <label class="layui-form-label">报备人联系方式</label>
        <div class="layui-input-block">
            <input id="report_repoter_contact" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入报备人联系方式" class="layui-input">
        </div>
        <br><br>
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="report_note" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

    <div class="site-text" style="margin: 5%; display: none" id="device_add"  target="test123">
        <div class="layui-input-block">
            <label class="layui-form-label">实验室</label>
            <div class="layui-input-block">
                <select id="labName" name="interest" lay-filter="aihao">
                <option value="">请选择实验室</option>
            </select>
            </div>
            <br><br>
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-block">
                <input id="device_name" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入设备名称" class="layui-input">
            </div>
            <br><br>
            <label class="layui-form-label">数量</label>
            <div class="layui-input-block">
                <input id="new_amount" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入数量" class="layui-input">
            </div>
        </div>

    </div>


    <div class="layui-body">
        <blockquote class="layui-elem-quote layui-text">
            <h1>设备列表</h1>
        </blockquote>
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">
            <div class="layui-inline">
                <label class="layui-form-label">设备名称：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="equipment_name" name="name" placeholder="设备名称"  width="80px">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">采购年份</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="purchase_date" name="name" placeholder="采购年份"  width="80px">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit="search_submits" lay-filter="reloadlst_submit" onclick=queryMethod()>查询</button>
            </div>
        </div>
        <div style="padding: 15px;">
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>

        <img src="/js/timg.jpg" style="position:absolute;right:0;bottom:0; width: 200px;height: 200px"/>

    </div>
    <script src="/lib/layui/layui.js"></script>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            <button class="layui-btn layui-btn-sm" lay-event="addNewDevice">新增设备 </button>
        </div>
    </script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="report">报备</a>
    </script>

    <script>
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#test'
                ,url:'/device/list'
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                ,title: '用户数据表'
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        ,{field:'id',  title: 'ID', sort: true}
                        ,{field:'equipment_name', title: '设备名称'}
                        ,{field:'lab_name', title: '所属实验室', sort: true}
                        ,{field:'purchase_date', title: '采购日期', sort: true}
                        ,{field:'brand_model', title: '品牌型号', sort: true}
                        ,{field:'total_count', title: '总数', sort: true}
                        ,{field:'broken_count', title: '损坏数量', sort: true}
                        ,{field:'usable_count', title: '可用数量', sort: true}
                        ,{field:'updatetime', title: '更新时间', sort: true}
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                    ]
                ],
                page:true
            });


            table.on('toolbar(test)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;

                    case 'addNewDevice':
                        //示范一个公告层
                        layer.open({
                            content:$('#device_add')
                            ,type: 1
                            ,area: ['600px', '400px']
                            ,btn: ['确定', '取消']
                            ,yes: function(layero){
                                let deviceName = $('#device_name').val();
                                let labName = $('#labName').val();
                                let amount = $('#new_amount').val();
                                if (deviceAddIsNotNull()) {
                                    $.ajax({
                                        type:"POST",
                                        url:"/device/add",
                                        data: {
                                            equipment_name: deviceName,
                                            lab_name: labName,
                                            total_count: amount

                                        },
                                        dataType:"json",
                                        success: function (msg) {
                                            if (msg.code == 0) {
                                                location.reload();
                                            } else {
                                                layer.msg(msg.msg);
                                            }
                                        }
                                    });
                                }
                            }
                        });

                    // //自定义头工具栏右侧图标 - 提示
                    // case 'LAYTABLE_TIPS':
                    //     layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    //     break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function(obj){
                let data = obj.data;
                if(obj.event === 'report'){
                    //示范一个公告层
                    layer.open({
                        content:$('#window')
                        ,type: 1
                        ,area: ['850px', '600px']
                        ,btn: ['确定', '取消']
                        ,yes: function(layero){
                            let cat = $('#report_cat').val();
                            let amount = $('#report_amount').val();
                            let note = $('#report_note').val();
                            let reporter = $('#report_repoter').val();
                            let reporter_contact = $('#report_repoter_contact').val();
                            if (reporIsNotNull()) {
                                $.ajax({
                                    type:"POST",
                                    url:"/report/repor",
                                    data: {
                                        id: data.id,
                                        cat: cat,
                                        amount: amount,
                                        note: note,
                                        reporter: reporter,
                                        reporter_contact: reporter_contact
                                    },
                                    dataType:"json",
                                    success: function (msg) {
                                        if (msg.code == 0) {
                                            location.reload();
                                        } else {
                                            layer.msg(msg.msg);
                                        }
                                    }
                                });
                            }
                        }
                    });


                }
            });
        });
        function reporIsNotNull() {
            let cat = $('#report_cat').val();
            let amount = $('#report_amount').val();
            let reporter = $('#report_repoter').val();
            let reporter_contact = $('#report_repoter_contact').val();
            if (cat == null || "" == cat) {
                layer.msg('请输入类别');
                return false;
            }
            if (amount == null || "" == amount) {
                layer.msg('请输入数量');
                return false;
            }

            if (reporter == null || "" == reporter) {
                layer.msg('请输入报备人');
                return false;
            }
            if (reporter_contact == null || "" == reporter_contact) {
                layer.msg('请输入联系方式');
                return false;
            }


            return true;

        }
        function deviceAddIsNotNull() {
            let deviceName = $('#device_name').val();
            let labName = $('#labName').val();
            let amount = $('#new_amount').val();
            if (deviceName == null || "" == deviceName) {
                layer.msg('请输入设备名');
                return false;
            }
            if (labName == null || "" == labName) {
                layer.msg('请输入实验室');
                return false;
            }
            if (amount == null || "" == amount) {
                layer.msg('请输入数量')
            }
            return true;

        }
        //JavaScript代码区域

        function load_data(){
            var theme=localStorage.getItem("userName");
            if(theme!=null||theme!=""){
                $("#userName").html(theme);
            }
        }


        layui.use('element', function(){
            var element = layui.element;

        });
    </script>
    <div class="layui-footer">
        微机1603_刘常林 - NEAU实验室管理系统
    </div>
</div>

<script>
    function load_data(){
        var theme=localStorage.getItem("userName");
        if(theme!=null||theme!=""){
            // $("#userName").show();
            $("#userName").html(theme);
        }
    }
    layui.use('element', function(){
        var element = layui.element;

    });
    function queryMethod() {
        var equipmentName = $('#equipment_name').val();
        var purchase_date = $('#purchase_date').val();
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#test'
                , url: '/device/query?equipmentName=' + equipmentName + '&purchase_date=' + purchase_date
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                ,title: '用户数据表'
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        ,{field:'id',  title: 'ID', sort: true}
                        ,{field:'equipment_name', title: '设备名称'}
                        ,{field:'lab_name', title: '所属实验室', sort: true}
                        ,{field:'purchase_date', title: '采购年份', sort: true}
                        ,{field:'brand_model', title: '品牌型号', sort: true}
                        ,{field:'total_count', title: '总数', sort: true}
                        ,{field:'broken_count', title: '损坏数量', sort: true}
                        ,{field:'usable_count', title: '可用数量', sort: true}
                        ,{field:'updatetime', title: '更新时间', sort: true}
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                    ]
                ],
                page:true
            });


            table.on('toolbar(test)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;

                    case 'addNewDevice':
                        //示范一个公告层
                        layer.open({
                            content:$('#device_add')
                            ,type: 1
                            ,area: ['600px', '400px']
                            ,btn: ['确定', '取消']
                            ,yes: function(layero){
                                let deviceName = $('#device_name').val();
                                let labName = $('#labName').val();
                                let amount = $('#new_amount').val();
                                if (deviceAddIsNotNull()) {
                                    $.ajax({
                                        type:"POST",
                                        url:"/device/add",
                                        data: {
                                            equipment_name: deviceName,
                                            lab_name: labName,
                                            total_count: amount

                                        },
                                        dataType:"json",
                                        success: function (msg) {
                                            if (msg.code == 0) {
                                                location.reload();
                                            } else {
                                                layer.msg(msg.msg);
                                            }
                                        }
                                    });
                                }
                            }
                        });

                    // //自定义头工具栏右侧图标 - 提示
                    // case 'LAYTABLE_TIPS':
                    //     layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    //     break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function(obj){
                let data = obj.data;
                if(obj.event === 'report'){
                    //示范一个公告层
                    layer.open({
                        content:$('#window')
                        ,type: 1
                        ,area: ['850px', '600px']
                        ,btn: ['确定', '取消']
                        ,yes: function(layero){
                            let cat = $('#report_cat').val();
                            let amount = $('#report_amount').val();
                            let note = $('#report_note').val();
                            let reporter = $('#report_repoter').val();
                            let reporter_contact = $('#report_repoter_contact').val();
                            if (reporIsNotNull()) {
                                $.ajax({
                                    type:"POST",
                                    url:"/report/repor",
                                    data: {
                                        id: data.id,
                                        cat: cat,
                                        amount: amount,
                                        note: note,
                                        reporter: reporter,
                                        reporter_contact: reporter_contact
                                    },
                                    dataType:"json",
                                    success: function (msg) {
                                        if (msg.code == 0) {
                                            location.reload();
                                        } else {
                                            layer.msg(msg.msg);
                                        }
                                    }
                                });
                            }
                        }
                    });


                }
            });
        });

    }
</script>
<script type="text/javascript">
    var theme=localStorage.getItem("userName");
    if(theme!=null||theme!=""){
        $("#userName").html(theme);
    }
    layui.use(['layer', 'form', 'table', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            $ = layui.jquery;
        $(function () {
            $.ajax({
                type: "GET",
                // url: "/admin/devData/getSendQueueShowChannel",
                url: "/lab/names",
                success: function (data) {
                    $.each(data.data, function (index, item) {

                        $("#labName").append(new Option(item,item));
                    });
                    layui.form.render("select");
                },error: function () {
                    alert("查询实验室名称失败")
                }
            })
        });
    });
</script>

</body>
</html>
